.btn {
    background-color: #EB6920;
    color: white;
    padding:10px;
    border:none;
    width:100%;
    cursor: pointer;
    opacity:0.8;
    border-radius: 50px;
}



.btn:hover{
    opacity:1;
}


body{
    margin:0px;
}

.bg-img{
 background-image:linear-gradient(45deg, rgba(18, 22, 36, 0.7), rgba(17, 19, 26, 0.7)),url("img/pushups.jpg");
 height:auto;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 padding:1.2rem ;
 /* outline:none; */
}

.logo img{
    height: 90px;
    width: 90px;
    margin-top: -20px;
    }

.container{
    background-color:#8a888899;
    /* position:absolute; */
    padding: 16px;
    width: 350px;
    /* margin-left: 40%; */
    margin: auto;
    text-align: center;
 }

 .container:hover{
    box-shadow:0px 0px 6px 5px rgba(230,196,196,0.4);
    }

    .container h1{
        padding-bottom: 40px;
        color: #cc6326;
    }

input[type=text], input[type=tel],input[type=email], input[type=password]{

    width:85%;
    padding: 16px;
    margin: 5px 0px 22px 0px;
    background:#f1f1f1;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    /* outline:none; */
    outline-color: #EB6920;
    border-radius: 50px;
    font-size: 17px;
}

::placeholder{
    font-size: 17px;
}

/* #name #tel #email #password:hover{
    border: 1px solid #EB6920;
} */

/* .form-container{
    width: 100%;
} */

label{
    font-family:Arial, Helvetica, sans-serif }



/* #opacity form{
   
  
} */

h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 10px;
    /* text-align: ; */
}
.link a{
text-decoration: none;
color: rgb(248, 93, 3);;
padding: 20px 8px;
}

.link a:hover{
    color: rgb(226, 222, 222);
}
